body{
	font-family: 'Annie Use Your Telescope', cursive;
}

h2{
	text-align:center;
}

.inline{
	display:inline;
}

img {
	width: 100%;
	height: auto;
}


.conteneur {
	display:flex;
	flex-direction:row;
	justify-content: space-around;

}

.menu{
	width:20%;
}

.etape{
	width:30%;
	text-align:center;
	justify-content:space-around;
}

.icone {
	width:100%;
	margin:center;
}

.jock{
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-image:url(Images/otarie.jpg);
	height:100%;
	background-size: 100%;
	text-align:center;
	font-weight: bold;
	color:white;
	font-size: 20px;
}



